
ul.center.profile-summary-list
    each item, i in items
        - if(item.value)
            - if (difference[item.key] > 0)
                li.profile-summary-list-item.bad
                    p.summary-line
                        - if(item.unit)
                            | #{item.title}
                            | (#{item.unit})
                        - else
                            | #{item.title}
                    p.summary-line.prime #{item.value}
                    p.summary-line.average +#{difference[item.key]} on avg
            - else
                li.profile-summary-list-item.good
                    p.summary-line
                        - if(item.unit)
                            | #{item.title}
                            | (#{item.unit})
                        - else
                            | #{item.title}
                    p.summary-line.prime #{item.value}
                    p.summary-line.average #{difference[item.key]} on avg
