
ul.center.profile-summary-list
    each item, i in items
        - if(report.data[item.key])
            - var fromAverage = parseInt(report.data[item.key] - report.average.value[item.key], 10)
            - if (fromAverage > 0)
                li.profile-summary-list-item.bad
                    p.summary-line
                        - if(item.unit)
                            | #{item.title}
                            | (#{item.unit})
                        - else
                            | #{item.title}
                    p.summary-line.prime #{report.data[item.key]}
                    p.summary-line.average +#{fromAverage} on avg
            - else
                li.profile-summary-list-item.good
                    p.summary-line
                        - if(item.unit)
                            | #{item.title}
                            | (#{item.unit})
                        - else
                            | #{item.title}
                    p.summary-line.prime #{report.data[item.key]}
                    p.summary-line.average #{fromAverage} on avg
