extends ../layout

block header
    h2 There have been #{reports.length} runs

block content

    each report, i in reports

        h3.center #{i}

        table.table.cycle.center.table-profile-history
            thead.thead
                tr
                    th.th #
                    th.th DOM Ready (ms)
                    th.th Page Load (ms)
                    th.th First Byte (ms)
                    th.th Requests
                    th.th Size (bytes)

            tbody.tbody
                tr
                    td.td #{i}
                    td.td #{report.average.data.onContentLoad}
                    td.td #{report.average.data.onLoad}
                    td.td #{report.average.data.firstByte}
                    td.td #{report.average.data.requestCount}
                    td.td #{report.average.data.weight}
