extends ../layout

block header
    h2 There have been #{timings.length} runs

block content

    table.table.cycle.center.table-profile-history
        thead.thead
            tr
                th.th #
                th.th DOM Ready (ms)
                th.th Page Load (ms)
                th.th First Byte (ms)
                th.th Requests
                th.th Size (bytes)

        tbody.tbody
            each timing, i in timings
                tr
                    td.td #{i+1}
                    td.td #{timing.onContentLoad}
                    td.td #{timing.onLoad}
                    td.td #{timing.firstByte}
                    td.td #{timing.requestCount}
                    td.td #{timing.weight}
