extends ../layout

block header

block content

    each reports, type in data

        h3.center #{type}

        h5.center Average

        table.table.cycle.center.table-profile-history
            thead.thead
                tr
                    th.th #
                    each row in app.set('reporter').getDefinition(type)
                        - if(row.unit)
                            th.th #{row.title} (#{row.unit})
                        - else
                            th.th #{row.title}

            tbody.tbody
                tr
                    td.td #{type}
                    each row in app.set('reporter').getDefinition(type)
                        td.td #{reports.average.value[row.key]}

        h5.center History

        table.table.cycle.center.table-profile-history
            thead.thead
                tr
                    th.th #
                    each row in app.set('reporter').getDefinition(type)
                        - if(row.unit)
                            th.th #{row.title} (#{row.unit})
                        - else
                            th.th #{row.title}

            tbody.tbody
                each report in reports.reports
                    tr
                        td.td #{type}
                        each row in app.set('reporter').getDefinition(type)
                            td.td #{report.data[row.key]}
