
extends ../layout

block content
    table.table.cycle.table-recent-profiles
        thead.thead
            tr
                th.th url
                th.th time
                th.th requests
                th.th size

        tbody.tbody
            each timing in timings
                tr
                    td.td
                        a(href='/profile/#{timing.hash}') #{timing.url}
                    td.td #{timing.onLoad}
                    td.td #{timing.requestCount}
                    td.td #{timing.weight}
