
extends ../layout

block content
    table
        tr
            th url
            th time
            th requests
            th size

        each timing in timings
            tr
                td
                    a(href='/profiles/#{timing.hash}') #{timing.url}
                td #{timing.time}
                td #{timing.requestCount}
                td #{timing.weight}
