
extends ../layout

block content
    table.table.cycle.table-recent-profiles
        thead.thead
            tr
                th.th url
                th.th time
                th.th requests
                th.th size

        tbody.tbody
            each profile in profiles
                each report in profile.reports
                    - if(report.type === 'frontend')
                        tr
                            td.td
                                a(href='/profile/#{profile.hash}') #{report.url}
                            td.td #{report.data.onLoad}
                            td.td #{report.data.requestCount}
                            td.td #{report.data.weight}
