extends ../layout

block head
    link(rel='stylesheet', href='/stylesheets/ui-smoothness/jquery-ui-1.8.20.custom.css')
    link(rel='stylesheet', href='/stylesheets/har-viewer.css')

block header
    p Ran on #{runDate.format('LLLL')} from uncleben1.99cluster.com (china)

    p View all runs for&nbsp;
        a(href='/profile/#{urlHash}/history') #{url}

block content

    ul.center.profile-summary-list
        li.profile-summary-list-item.bad
            p.summary-line DOM Ready (ms)
            p.summary-line.prime #{timing.onContentLoad}
            p.summary-line.average +3s on avg
        li.profile-summary-list-item.bad
            p.summary-line Page Load (ms)
            p.summary-line.prime #{timing.onLoad}
            p.summary-line.average +3s on avg
        li.profile-summary-list-item.good
            p.summary-line First Byte (ms)
            p.summary-line.prime #{timing.firstByte}
            p.summary-line.average -0.3s on avg
        li.profile-summary-list-item.good
            p.summary-line Requests
            p.summary-line.prime #{timing.requestCount}
            p.summary-line.average -2s on avg
        li.profile-summary-list-item.bad
            p.summary-line Size (bytes)
            p.summary-line.prime #{timing.weight}
            p.summary-line.average +3s on avg

    style



    #waterfall

block scripts

    script(src='/javascripts/jquery-ui-1.8.20.custom.min.js')
    script(src='/javascripts/mustache-0.4.2.min.js')
    script(src='/javascripts/dev/har-viewer.js')
    script
        $(function() {
            $.ajax({
                dataType: 'jsonp',
                jsonp: 'callback',
                url: 'http://localhost:3000/profile/#{hash}.jsonp',
                success: function(data) {
                    $('#waterfall').HarView().data('HarView').render(data);
                }
            });
        });
