extends ../layout

block head
    link(rel='stylesheet', href='/stylesheets/ui-smoothness/jquery-ui-1.8.20.custom.css')
    link(rel='stylesheet', href='/stylesheets/har-viewer.css')

block content
    h1= title
    p You were tyring to look at #{url}
    p View all runs for&nbsp;
        a(href='/profiles/#{hash}/history') #{url}
    hr
    //.har(data-har='http://localhost:3000/profiles/#{hash}.jsonp', height="300px")
    #code

block scripts

    //
        script
            (function() {
                var har = document.createElement("script");
                har.src = "http://www.softwareishard.com/har/viewer/har.js";
                har.setAttribute("id", "har");
                har.setAttribute("async", "true");
                document.documentElement.firstChild.appendChild(har);
            })();

    script(src='/javascripts/jquery-ui-1.8.20.custom.min.js')
    script(src='/javascripts/mustache-0.4.2.min.js')
    script(src='/javascripts/dev/har-viewer.js')
    script
        $(function() {
            $.ajax({
                dataType: 'jsonp',
                jsonp: 'callback',
                url: 'http://localhost:3000/profiles/#{hash}.jsonp',
                success: function(data) {
                    console.log(data);
                    $('#code').HarView().data('HarView').render(data);
                }
            });
        });
