extends ../layout

block head
    link(rel='stylesheet', href='/stylesheets/ui-smoothness/jquery-ui-1.8.20.custom.css')
    link(rel='stylesheet', href='/stylesheets/har-viewer.css')

block header
    p Ran on #{runDate.format('LLLL')} from #{hostname}

    p View all runs for&nbsp;
        a(href='/profile/#{hash}/history') #{url}

block content

    each report, i in reports
        h3.center #{report.type}
        != partial('_tiles', { report : report })

    #waterfall

block scripts

    script(src='/javascripts/jquery-ui-1.8.20.custom.min.js')
    script(src='/javascripts/mustache-0.4.2.min.js')
    script(src='/javascripts/dev/har-viewer.js')
    script
        $(function() {
            $.ajax({
                dataType: 'jsonp',
                jsonp: 'callback',
                url: 'http://localhost:3000/profile/#{hash}.jsonp',
                success: function(data) {
                    $('#waterfall').HarView().data('HarView').render(data);
                }
            });
        });
